.map{
    background: linear-gradient(327.88deg, rgba(255, 1, 47, 0.05) -1.21%, rgba(255, 1, 62, 0) 73.11%);
    &-container{
        padding: 5rem 0;
    }
    &__content{
        width: 27rem;
    }
}